@using mobilehome.insure.Helper.Extensions
@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="mobile home insurance, mobile insurance, manufactured house insurance, mobile home insurance california" />
    <meta name="description" content="MobileHome.Insure is a place where you can purchase mobile home insurance in minutes. Get the right insurance policy at the right price!  Call us at 877-773-1055 or Email us at info@mobilehome.insure today.">
    <meta name="author" content="zachrichards.com">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/content/img/favicon.ico">
    <link rel="apple-touch-icon" href="~/content/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/content/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/content/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/content/img/apple-touch-icon-144x144.png">
    <!-- Google Webfonts -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,100,100italic,200,300,300italic,400italic,500,700,900' rel='stylesheet' type='text/css'>
    <title>@ViewBag.Title</title>
    @*  @Styles.Render("~/Content/css")*@
    @*  @Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/css/bootstrapStyle")
    @Styles.Render("~/Content/Plugins/owl-carousel/carouselStyles")
    @Styles.Render("~/Content/css/CustomStyle")
    @Styles.Render("~/Content/font-awesome/css/fontstyle")
    @Styles.Render("~/Content/css/prettyPhoto")
    @Styles.Render("~/Content/Plugins/easytabs/cssStyles")
    @Styles.Render("~/Content/Plugins/flex-slider/sliderStyle")
    @Styles.Render("~/Content/Assets/Global/Plugins/select2/css")
    @Styles.Render("~/Content/css/jqueryui")
</head>
<body id="page-top">
    <div id="dvLoading"></div>
    <!-- Outer-wrap -->
    <div class="outer-wrap">
        <div class="container">
            <!-- Fixed Left Navigaton -->
            <div class="col-md-3 m-left">
                @{Html.RenderPartial("~/Views/Shared/_menu.cshtml");}
            </div>
            @RenderBody()
            <div class="clear"></div>
            <div class="col-md-12" style="height:10px"></div>
            <div class="col-md-3 m-left">&nbsp;</div>
            <div class="col-md-9 m-right">
                <footer data-animated="0">
                    <p>&copy; 2015 MobileHome.Insure All Rights Reserved <br />
                    <a href="/Home/TermsAndConditions" style="font-size:10px; text-decoration:none; color:black;">Terms and Conditions of Website Use</a> | <a href="/Home/PrivacyPolicy" style="font-size:10px; text-decoration:none; color:black;">Privacy Policy</a></p>
                    <a href="#page-top" class="backtotop-icon page-scroll"></a>
                </footer>
            </div>
        </div>

    </div>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    @Scripts.Render("~/bundles/jquery")
    <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    @Scripts.Render("~/bundles/bootstrapscript")
    @Scripts.Render("~/Content/Plugins/pluginscripts")
    @Scripts.Render("~/bundles/Custom/customScripts")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/Assets/Global/Plugins/select2/scripts")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/Scripts/bootbox")
   
    <script type="text/javascript">
        $(document).ready(function () {
            $(".alert-renters-close").fadeTo(15000, 1000).slideUp(500, function () {
                $(".alert-renters-close").alert('close');
            });
            $(".btn-cancel-renters").click(function (e) {
                e.preventDefault();
                bootbox.confirm("Are you sure you want to Cancel?", function (result) {
                    if (result) 
                        location.href = "/?renters=cancel";
                });
                $("div.modal-footer .btn-default").removeClass("btn-default");
            })
            if (getParameterByName("renters") == 'cancel')
                $(".alert-renters-close").show();
            else
                $(".alert-renters-close").alert('close');

            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    @RenderSection("scripts", required: false)
    @Html.RenderPartialViewScripts()
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-57962611-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
