@using mobilehome.insure.Helper.Extensions
@model mobilehome.insure.Models.Rental.RentalViewModel.Quote
@{
    Layout = null;
}

@using (Html.BeginForm("_Step2", "Rental"))
{
    <div class="col-xs-12 col-md-8 no-margin" style="padding-bottom:40px;">
        <h3>Generate Quote</h3>
        <div class="billing-address">
            @Html.HiddenFor(x => x.CustomerId)
            <div class="row field-row">
                <div class="col-xs-12 col-sm-6">
                    @Html.LabelFor(x => x.EffectiveDate)
                    @Html.TextBoxFor(x => x.EffectiveDate, new { @class = "le-input", value = "", style = "width:80%; float:left;" })
                    <div class="tooltip-image" data-toggle="tooltip" title="What date would you like your policy to start?"></div>
                    @Html.ValidationMessageFor(x => x.EffectiveDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-xs-12 col-sm-6">
                    @Html.LabelFor(x => x.PersonalProperty)
                    @Html.DropDownListFor(x => x.PersonalProperty, new SelectList(Model.PersonalProperties, "Id", "Text"), "", new { id = "ddlPersonalProperties", @placeholder = "Select a Property", @class = "le-input", style = "width: 80%; float:left;" })
                    <div class="tooltip-image" data-toggle="tooltip" title="This insures items such as furniture, appliances, clothing, etc..."></div>
                    @Html.ValidationMessageFor(x => x.PersonalProperty, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row field-row">
                <div class="col-xs-12 col-sm-6">
                    @Html.LabelFor(x => x.Liability)
                    @Html.DropDownListFor(x => x.Liability, new SelectList(Model.Liabilities, "Id", "Text"), "", new { id = "ddlLiabilities", @placeholder = "Select a Liability", @class = "le-input", style = "width: 80%;  float:left;" })
                    <div class="tooltip-image" data-toggle="tooltip" title="This insures you against bodily injury and property damage to others that you become legally responsible for.  The lease agreement with your landlord may require you to carry this coverage."></div>
                    @Html.ValidationMessageFor(x => x.Liability, "", new { @class = "text-danger" })
                </div>

                <div class="col-xs-12 col-sm-6">
                    @Html.LabelFor(x => x.NumberOfInstallments)
                    @Html.DropDownListFor(x => x.NumberOfInstallments, new SelectList(Model.InstallmentList, "Key", "Value", Model.NumberOfInstallments), "", new { @placeholder = "Select Installment", @class = "le-input", style = "width: 100%" })
                    @Html.ValidationMessageFor(x => x.NumberOfInstallments, "", new { @class = "text-danger" })
                </div>

                @*<div class="col-xs-12 col-sm-6">
                        @Html.CheckBoxFor(x => x.SendLandlord, new { @placeholder = "Select Installment", @class = "le-input", style = "width: 100%", @checked = "checked" })
                        Would you like us to send a copy of your policy to your landlord to show proof of insurance?
                        @Html.ValidationMessageFor(x => x.SendLandlord, "", new { @class = "text-danger" })
                    </div>*@
                <div class="col-xs-12 col-sm-12" style="padding-top:10px; display:none">
                    <div class="col-xs-1 col-sm-1">
                        @*@Html.CheckBoxFor(x => x.SendLandlord, new { @placeholder = "Select Installment", @class = "le-input", style = "width: 100%" })*@
                        <input id="SendLandlord" type="checkbox" class="le-input" style="width: 100%" checked="checked" />
                    </div>
                    <div class="col-xs-11 col-sm-11">Would you like us to send a copy of your policy to your landlord to show proof of insurance?</div>
                    <input type="hidden" id="QuoteId" />
                </div>
            </div>
            <div class="pull-left">
            </div>
            <div class="pull-right">
                <button class="btn btn-default" id="btnQuote">Calculate</button>
                @*<button class="btn btn-default btn-cancel-renters">Cancel</button>*@
            </div>
            <div id="deductibleTerms" class="pull-left" style="display:none">
                <br /><p><sup>*</sup>A $500 Deductible applies to Personal Property limit. Some Personal Property subject to certain limitations and/or exclusions. Please review your policy for details.</p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="page-header cal-premium" style="display:none">
            <h3 class="text-center">Premium</h3>
            <h4>Total Premium: <span id="lblTotalPremium" class="pull-right">$0.00</span></h4>
            <h5>Premium Charged Today: <span id="lblCurrentPayment" class="pull-right">$0.00</span></h5>
            <h5 id="itemProcFee">Processing Fee: <span id="lblProcFee" class="pull-right">$0.00</span></h5>
            <h5 id="itemInstallmentFee">Installment Fee: <span id="lblIntallmentFee" class="pull-right">$0.00</span></h5>
            <h4 class="text-center">Total Charged Today: <span id="lblTotalChargedToday">$0.00</span></h4>

            <p class="fraudstatement" style="display:none">
                <strong>Fraud Statement<sup>*</sup></strong>:It is a crime to knowingly provide false, incomplete or misleading information to an insurance company for the purpose of defrauding the company. Penalties include imprisonment, fines and denial of insurance benefits.
                <br />(*Applicable to residents of Tennessee and Virginia.)
            </p>
            <p class="text-center">
                <button class="btn btn-default" id="btnContinuePayment">Pay For My Policy</button>
            </p>
        </div>
    </div>
    @Html.ValidationSummary(true)
}
@Html.Script(
    @<script>
        $(document).ready(function () {

            $("#EffectiveDate").datepicker({ dateFormat: "mm/dd/yyyy" }).datepicker('setDate', new Date());
            $("#EffectiveDate").datepicker("option", "minDate", new Date());
            $("#btnContinuePayment").prop('disabled', true);

            $("#ddlPersonalProperties").on("change", function () {
                $("#btnContinuePayment").hide();
            });

            $("#ddlLiabilities").on("change", function () {
                $("#btnContinuePayment").hide();
            });

            $("#NumberOfInstallments").on("change", function () {
                $("#btnContinuePayment").hide();
            });

            $("#btnContinuePayment").click(function (evt) {
                evt.preventDefault();
                bootbox.dialog({
                    message: "Would you like us to send a copy of your policy to your landlord to show proof of insurance?",
                    title: "Send Recipt to landlord",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-danger",
                            callback: function () {
                                var ajaxOptions = {};
                                ajaxOptions.data = JSON.stringify({
                                    QuoteId: $("#QuoteId").val(),
                                    SendLandlord: false
                                });
                                ajaxOptions.url = "/Renters/_Step2LandLord";
                                ajaxOptions.method = "POST";
                                ajaxOptions.dataType = "JSON";
                                ajaxOptions.contentType = 'application/json';
                                var request = $.ajax(ajaxOptions);

                                request.done(function (data) {
                                    lossofuse = parseInt($("#ddlPersonalProperties option:selected").text().replace("$ ", "").replace(",", "")) * 20 / 100;
                                    $("#divPremium address").html("Personal Property: " + $("#ddlPersonalProperties option:selected").text() + "<br>Liability: " + $("#ddlLiabilities option:selected").text() + "<br>Loss of Use: $" + lossofuse + "<br>Medical Payments: $" + 500 + "<br>Total Premium: " + $("#lblTotalPremium").text());
                                    $("#step2").hide();
                                    $("#step3").show();
                                });
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-success",
                            callback: function () {
                                var ajaxOptions = {};
                                ajaxOptions.data = JSON.stringify({
                                    QuoteId: $("#QuoteId").val(),
                                    SendLandlord: true
                                });
                                ajaxOptions.url = "/Renters/_Step2LandLord";
                                ajaxOptions.method = "POST";
                                ajaxOptions.dataType = "JSON";
                                ajaxOptions.contentType = 'application/json';
                                var request = $.ajax(ajaxOptions);

                                request.done(function (data) {
                                    lossofuse = parseInt($("#ddlPersonalProperties option:selected").text().replace("$ ", "").replace(",", "")) * 20 / 100;
                                    $("#divPremium address").html("Personal Property: " + $("#ddlPersonalProperties option:selected").text() + "<br>Liability: " + $("#ddlLiabilities option:selected").text() + "<br>Loss of Use: $" + lossofuse + "<br>Medical Payments: $" + 500 + "<br>Total Premium: " + $("#lblTotalPremium").text());
                                    $("#step2").hide();
                                    $("#step3").show();
                                });
                            }
                        }
                    }
                });
            });

            $("#btnQuote").click(function (evt) {
                evt.preventDefault();
                if ($("#NumberOfInstallments").val() == "0") {
                    bootbox.alert("Choose Number of Payments ");
                    return false;
                }
                var $form = $('form');
                if ($form.valid()) {
                    $('#dvLoading').show();
                    var ajaxOptions = {};
                    ajaxOptions.data = JSON.stringify({
                        EffectiveDate: new moment("mm/dd/yyyy", $("#EffectiveDate").val()),
                        PersonalProperty: $("#ddlPersonalProperties").val(),
                        Liability: $("#ddlLiabilities").val(),
                        NumberOfInstallments: $("#NumberOfInstallments").val(),
                        SendLandlord: $("#SendLandlord:checked").val() == "on" ? true : false
                    });
                    ajaxOptions.url = "/Renters/_Step2";
                    ajaxOptions.method = "POST";
                    ajaxOptions.dataType = "JSON";
                    ajaxOptions.contentType = 'application/json';
                    var request = $.ajax(ajaxOptions);

                    request.done(function (data) {
                        result = data.Premium;
                        $("#QuoteId").val(data.QuoteId);
                        $("#lblTotalPremium").text('$ ' + result + ".00");
                        $("#lblProcFee").text(data.ProcessingFee);
                        $("#lblIntallmentFee").text(data.InstallmentFee);
                        $("#lblTotalChargedToday").text(data.TotalChargedToday);

                        if ($("#NumberOfInstallments").val() == "1") {
                            $("#lblCurrentPayment").text('$ ' + result + ".00");
                        }
                        else if ($("#NumberOfInstallments").val() == "2") {
                            $("#lblCurrentPayment").text('$ ' + (+result / 2).toFixed(2));
                        }
                        else if ($("#NumberOfInstallments").val() == "3") {
                            $("#lblCurrentPayment").text('$ ' + (+result / 3).toFixed(2));
                        }
                        else if ($("#NumberOfInstallments").val() == "4") {
                            $("#lblCurrentPayment").text('$ ' + (+result / 4).toFixed(2));
                        }

                        if ($("#NumberOfInstallments").val() == "1")
                        {
                            $("#itemInstallmentFee").hide();
                            $("#itemProcFee").show();
                        }
                        else
                        {
                            $("#itemProcFee").hide();
                            $("#itemInstallmentFee").show();
                        }
                        
                        $("label[for='AcceptChargeOnCard']").html("I agree that my credit card will be charged today in the amount of " + data.TotalChargedToday);
                        
                        $("div.cal-premium").show();
                        $("#deductibleTerms").show();
                        $("#btnContinuePayment").show();
                        $("#btnContinuePayment").prop('disabled', false);
                        $('#dvLoading').hide();
                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                        $('#dvLoading').hide();
                    });

                }

            });
        });
    
    </script>
)