@using mobilehome.insure.Helper.Extensions
@model mobilehome.insure.Models.Rental.NotifyViewModel
@{
    ViewBag.Title = "Mobile Home Appraisal - MobileHome.Insure";
}

<div class="col-md-9 m-right">
    <!-- Page Header -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <img src="~/content/img/header-renters-app.png" class="img-responsive" />
            <div id="page-header">
                <h3><span>Mobile Home Renters</span></h3>
                <ul class="bread_crumbs">
                    <li><a href="#">home</a></li>
                    <li><a href="/renters">renters</a></li>
                    <li>notify</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="rightcontainer" style="background-color:white">
        @using (Html.BeginForm())
        {
            <div class="row" data-animated="0" id="notifyForm">
                <div class="col-md-12">
                    <div class="page-header">
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name)
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Email)
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Zip)
                            @Html.TextBoxFor(x => x.Zip, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Zip, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-action">
                                <button class="btn btn-default" id="btnNotify">Notify Me!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.ValidationSummary(true)
        }
        <div class="row" data-animated="0" id="thanksMessage" style="display:none">
            <div class="col-md-12">
                <div class="page-header" style="margin-left:40px">
                   <h3><span>  Thanks!</span></h3>
                </div>
                <div class="col-md-12">
                    <br /><br />
                    We are always adding new mobile home parks to our site.  We will send you an email when a Park has been added in your Zip Code.<br />

                    If you are having technical problems with our site then contact our <a href="@Request.Url.Host:@Request.Url.Port/support">support</a> team today!
                    <br /><br /><br /><br />
                </div>
            </div>

        </div>
    </div>
   @Html.Script(
    @<script>
        $(document).ready(function () {

            var success = '@ViewBag.success';

            if(success == "True")
            {    $("#thanksMessage").show();
                $("#notifyForm").hide();
            }
            else if(sucess == "False")
            {
                bootbox.alert("Unable to submit the form due to technical error. Please try again!");
            }
        })
    </script>
   )
