@using mobilehome.insure.Helper.Extensions
@model mobilehome.insure.Models.Rental.RentalViewModel.Customer
@{
    Layout = null;
}

<div class="col-md-9 m-right">
    <div id="rightcontainer">
        @using (Html.BeginForm("_Step1", "Rental", FormMethod.Post, new { name = "frmCustomerInfo" }))
        {
            <div class="col-md-8">
                <div class="row" data-animated="0">
                   
                        <div class="form-group">
                            @Html.LabelFor(x => x.Name)
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Address)
                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.Zip)
                            @Html.TextBoxFor(x => x.Zip, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Zip, "", new { @class = "text-danger" })
                        </div>


                    <div class="form-group">
                        @Html.LabelFor(x => x.Phone)
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Email)
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>

                    
                    <div class="form-action">
                            <button class="btn btn-default" id="btnCustomerInfo">Submit</button>
                    </div>
                    

                </div>
            </div>
            @Html.ValidationSummary(true)
        }
    </div>
</div>

@Html.Script(

    @<script>
        $(document).ready(function () {

            $("#EffectiveDate").datepicker();


            $("#btnCustomerInfo").click(function (evt) {
                evt.preventDefault();
                var $form = $('form');


                if ($form.valid()) {
                    $('#dvLoading').show();

                    var ajaxOptions = {};
                    ajaxOptions.data = JSON.stringify({
                        Name: $("#Name").val(),
                        Address: $("#Address").val(),
                        Zip: $("#Liability").val(),
                        Phone: $("#Phone").val(),
                        Email: $("#Email").val()

                    });
                    ajaxOptions.url = "/Rental/_Step1";
                    ajaxOptions.method = "POST";
                    ajaxOptions.dataType = "JSON";
                    ajaxOptions.contentType = 'application/json';
                    var request = $.ajax(ajaxOptions);

                    request.done(function (result) {
                        $("#accordion").accordion("destroy");
                        $("#accordion").accordion({
                            disabled: 2,
                            active: 1,
                            heightStyle: "content"
                        });
                        
                        $('#dvLoading').hide();
                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    });



                }


            });
        });

    </script>
    )

