@using mobilehome.insure.Helper.Extensions
@model mobilehome.insure.Models.Rental.RentalViewModel.Payment
@{
    Layout = null;
}

@using (Html.BeginForm("_Step3", "Rental", FormMethod.Post, new { name = "frmPayment" }))
{
    <div class="col-xs-12 no-margin">
        <div class="billing-address">
            <div class="row field-row">
                <div class="col-xs-12 col-sm-4">
                    @Html.LabelFor(x => x.NameOnCard)
                    @Html.TextBoxFor(x => x.NameOnCard, new { @class = "le-input" })
                    @Html.ValidationMessageFor(x => x.NameOnCard, "", new { @class = "text-danger" })
                </div>

                <div class="col-xs-12 col-sm-4">
                    @Html.LabelFor(x => x.CreditCardNumber)
                    @Html.TextBoxFor(x => x.CreditCardNumber, new { @class = "le-input" })
                    @Html.ValidationMessageFor(x => x.CreditCardNumber, "", new { @class = "text-danger" })
                </div>

                <div class="col-xs-12 col-sm-4">
                    @Html.Label("Expiry Date:", new { @style = "display:block" })
                    @Html.DropDownListFor(x => x.ExpiryMonth, new SelectList(Model.MonthList), "MM", new { @class = "le-input small" })
                    @Html.DropDownListFor(x => x.ExpiryYear, new SelectList(Model.YearList), "YYYY", new { @class = "le-input small" })
                    @Html.ValidationMessageFor(x => x.ExpiryMonth, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(x => x.ExpiryYear, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row field-row">
                <div class="col-xs-12 col-sm-4">
                    @Html.LabelFor(x => x.BillingAddressLine1)
                    @Html.TextBoxFor(x => x.BillingAddressLine1, new { @class = "le-input" })
                    @Html.ValidationMessageFor(x => x.BillingAddressLine1, "", new { @class = "text-danger" })
                </div>

                <div class="col-xs-12 col-sm-4">
                    @Html.LabelFor(x => x.BillingAddressLine2)
                    @Html.TextBoxFor(x => x.BillingAddressLine2, new { @class = "le-input" })
                    @Html.ValidationMessageFor(x => x.BillingAddressLine2, "", new { @class = "text-danger" })
                </div>


                <div class="col-xs-12 col-sm-4">
                    @Html.LabelFor(x => x.Zip)
                    @Html.TextBoxFor(x => x.Zip, new { @class = "le-input" })
                    @Html.ValidationMessageFor(x => x.Zip, "", new { @class = "text-danger" })

                </div>

            </div>

            <div class="pull-right">
                <button class="btn btn-default" id="btnPayment">Submit</button>
            </div>
        </div>
        @Html.ValidationSummary(true)
    </div>
}


@Html.Script(
    @<script>
        $(document).ready(function () {
            $("#EffectiveDate").datepicker();
            $("#btnPayment").click(function (evt) {
                evt.preventDefault();
                var $form = $('form');
                if ($form.valid()) {
                    $('#dvLoading').show();
                    var ajaxOptions = {};
                    ajaxOptions.data = JSON.stringify({
                        NameOnCard: $("#NameOnCard").val(),
                        CreditCardNumber: $("#CreditCardNumber").val(),
                        ExpiryMonth: $("#ExpiryMonth").val(),
                        ExpiryYear: $("#ExpiryYear").val(),
                        BillingAddressLine1: $("#BillingAddressLine1").val(),
                        BillingAddressLine2: $("#BillingAddressLine2").val(),
                        Zip: $("#Zip").val(),
                        NoOfInstallments: $("#NoOfInstallments").val()

                    });
                    ajaxOptions.url = "/Rental/_Step3";
                    ajaxOptions.method = "POST";
                    ajaxOptions.dataType = "JSON";
                    ajaxOptions.contentType = 'application/json';
                    var request = $.ajax(ajaxOptions);

                    request.done(function (result) {

                        $('#dvLoading').hide();

                        window.location.href = "http://localhost:43517/Rental";
                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    });
                }
            });
        });
    </script>
)
