@model MobileHome.Insure.Web.Models.Admin.ListNotifyViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                Widget settings form goes here
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue">Save changes</button>
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN STYLE CUSTOMIZER -->
<!-- END STYLE CUSTOMIZER -->
<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">Notifys
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Renters</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Notify</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-edit"></i>Notfiy Data
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                               @Html.ActionLink("Add New ", "_partialEditNotify", "Master", null, new { @class = "modal-link btn green" })
                            </div>
                        </div>
                        @*<div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    Tools <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#">Print </a>
                                    </li>
                                    <li>
                                        <a href="#">Save as PDF </a>
                                    </li>
                                    <li>
                                        @Html.ActionLink("Save as Excel", "Notify", "Master", new { exportCsv = true }, new { })
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="tblAgeFactor">
                    <thead>
                        <tr>
                            <th>ID
                            </th>
                            <th>Name
                            </th>
                            <th>
                                ParkName
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Zip
                            </th>
                            <th>CreatedOn
                            </th>
                          
                            @*<th>Edit
                            </th>*@
                            <th>Delete
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach(var item in Model.ListNotify)
                            {
                        <tr>
                            <td>@item.Id
                            </td>
                            <td>@item.Name
                            </td>
                            <td>@item.ParkName
                            </td>
                            <td>@item.Email
                            </td>
                            <td>
                                @item.Zip
                            </td>
                            <td>
                                @item.CreatedOn
                            </td>
                            @*<td>
                                @Html.ActionLink("Edit", "_partialEditNotify", "Master", new { Id = item.Id }, new { @class = "modal-link" })
                            </td>*@
                            <td>
                                @Html.ActionLink("Notified", "deleteNotify", "Master", new { Id = item.Id }, new { @class = "delete-link" })
                            </td>
                        </tr>}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT -->

@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
  
    <script src="~/Areas/Admin/Script/AgeFactor.js"></script>
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            AgeEditable.init();
        });
    </script>
} 
