@model dynamic



<div id="rightContainer">
    <div class="row" data-animated="0">
        <div class="col-md-12" id="renterprint" style="margin-top:-25px;">
            <div id="m-info" class="center">
                <div id="page-header">
                    <h3><span>Insured Details</span></h3>
                </div>
                <dl class="dl-horizontal">
                    <dt>Insured Name</dt>
                    <dd id="infoName">@Model.infoName</dd>

                    <dt>Insured Address</dt>
                    <dd id="infoAddress1">@Model.infoAddress1</dd>

                    <dt>Insured Address</dt>
                    <dd id="infoAddress2">@Model.infoAddress2</dd>

                    <dt>Insured City</dt>
                    <dd id="infoCity">@Model.infoCity</dd>

                    <dt>Insured State</dt>
                    <dd id="infoState">@Model.infoState</dd>

                    <dt>Insured Zip Code</dt>
                    <dd id="infoZipCode">@Model.infoZipCode</dd>

                    <dt>Insured Phone</dt>
                    <dd id="infoPhone">@Model.infoPhone</dd>

                    <dt>Insured Email</dt>
                    <dd id="infoEmail">@Model.infoEmail</dd>
                </dl>
                <div id="page-header">
                    <h3><span>Transaction Details</span></h3>
                </div>
                <dl class="dl-horizontal">
                    <dt>Policy Number</dt>
                    <dd id="infopolnbr">@Model.infopolnbr</dd>

                    <dt>Insurance Company</dt>
                    <dd id="infocopcod">@Model.infocopcod</dd>

                    <dt>Payment ID</dt>
                    <dd id="infopmtid">@Model.infopmtid</dd>

                    <dt>Installment Plan</dt>
                    <dd id="infopayopt">@Model.infopayopt</dd>

                    <dt>Total Premium Amount</dt>
                    <dd id="infopmtamttotal">@Model.infopmtamttotal</dd>

                    <dt>Premium Charged Today</dt>
                    <dd id="infopmtamttoday">@Model.pmtamttoday</dd>

                    <dt>Transaction Date</dt>
                    <dd id="infotrndat">@Model.infotrndat</dd>

                    <dt>Transaction Time</dt>
                    <dd id="infotrntim">@Model.infotrntim</dd>
                </dl>
                <div id="page-header">
                    <h3><span>Thank you</span></h3>
                </div>
                <div>
                    <p>Thank you for purchasing your policy through Mobilehome. Insure.  Your policy has been placed with Aegis Security Insurance Company; an AM Best “A” rated insurance company.</p>

                    <p>You will be receiving an email confirmation of this transaction.</p>

                    <p>Your policy will be processed and sent to your address in the next few days. If you do not receive your policy within ten business days please either email us at info@mobilehome.insure or call us at (877) 773-1055 to speak with one of our customer service representatives. Our hours of operation are from 8:00AM to 8:00PM Eastern Time.</p>

                    <p>Thank you for purchasing your renters insurance with MobileHome.Insure! If we can be of assistance, please don't hesitate to <a href="mailto:info@mobilehome.insure">email</a> us or call us at <a href="tel:877-773-1055 FREE">1-877-773-1055 FREE</a> today!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-animated="0" style="margin-top:20px;padding-left:30px;padding-right:30px">
        <div class="col-md-12">
            <input type="text" id="txtEmails" class="form-control" style="border-color:forestgreen;" />
        </div>
    </div>
</div>