@model mobilehome.insure.Areas.Admin.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row ">
    <div class="col-md-6 col-sm-6">
        <div class="portlet box blue-steel">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>Recent Customers
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 150px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Last 1 Day
                                </div>
                                <div class="pull-right">@Model.NoOfNewCustomersInLast1Day</div>
                            </div>
                           
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Last 3 Days
                                </div>
                                <div class="pull-right">@Model.NoOfNewCustomersInLast3Days</div>
                            </div>

                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Last 1 Week
                                </div>
                                <div class="pull-right">@Model.NoOfNewCustomersInLast1Week</div>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="/Admin/Customer">See All Records</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet box green-haze">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>Service Status
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 150px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Payment Processor
                                </div>
                                <div class="pull-right" id="paymentProcessorStatus">@Model.IsPaymentProcessorLive</div>
                            </div>

                        </li>
                         <li>
                            <div class="col1">
                                <div class="cont">
                                    Aegis Service
                                </div>
                                <div class="pull-right" id="aegisServiceStatus">@Model.IsAegisServiceLive</div>
                            </div>

                        </li>

                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
<div class="row ">
    <div class="col-md-6 col-sm-6">
        <div class="portlet box yellow-casablanca">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>Recent Policies
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 150px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Last 1 Day
                                </div>
                                <div class="pull-right">@Model.NoOfNewPoliciesGeneratedInLast1Day</div>
                            </div>

                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Last 3 Days
                                    
                                </div>
                                <div class="pull-right">@Model.NoOfNewPoliciesGeneratedInLast3Days</div>
                            </div>

                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Last 1 Week
                                   
                                </div>
                                <div class="pull-right">@Model.NoOfNewPoliciesGeneratedInLast1Week</div>
                            </div>

                        </li>

                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="/Admin/Customer/Policy">See All Records</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="portlet box red-flamingo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-bell-o"></i>Payments Received
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 150px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Last 1 Day
                                </div>
                                <div class="pull-right">@Model.PremiumChargedInLast1Day.ToString("c")</div>
                            </div>

                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Last 3 Days
                                </div>
                                <div class="pull-right">@Model.PremiumChargedInLast3Days.ToString("c")</div>
                            </div>

                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    Last 1 Week
                                </div>
                                <div class="pull-right">@Model.PremiumChargedInLast1Week.ToString("c")</div>
                            </div>

                        </li>

                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="/Admin/Customer/Payment">See All Records</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        Layout.init(); // init current layout
        QuickSidebar.init(); // init quick sidebar
        Demo.init(); // init demo features
       

        if($("#paymentProcessorStatus").html() == "True")
        {
            $("#paymentProcessorStatus").html("<img height='16px' width='16px' src = '/content/img/On.png' />");
        }
        else
        {
            $("#paymentProcessorStatus").html("<img height='16px' width='16px' src = '/content/img/Off.png' />");
        }
        if($("#aegisServiceStatus").html() == "True")
        {
            $("#aegisServiceStatus").html("<img height='16px' width='16px' src = '/content/img/On.png' />");
        }
        else {
            $("#aegisServiceStatus").html("<img height='16px' width='16px' src = '/content/img/Off.png' />");
        }
    });
</script>
}