@model MobileHome.Insure.Web.Models.Appraisal.MobileHomeAppraisalViewModel
@{
    ViewBag.Title = "Mobile Home Appraisal - MobileHome.Insure";
}

<div class="col-md-9 m-right">
    <!-- Page Header -->
    <div class="row" data-animated="0">
        <div class="col-md-12">
            <img src="~/content/img/header-appraisal.png" class="img-responsive" />
            <div id="page-header">
                <h3><span>Mobile Home Appraisal</span></h3>
                <ul class="bread_crumbs">
                    <li><a href="#">home</a></li>
                    <li>appraisal</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="rightcontainer" style="background-color:white">
        @using (Html.BeginForm())
        {
            <div class="row" data-animated="0">
                <div class="col-md-12">
                    <div class="page-header">
                    </div>
                    <div class="col-md-8">

                        <div class="form-group">
                            @Html.LabelFor(x => x.State)
                            @Html.DropDownListFor(x => x.State, new SelectList(Model.StateList, "Id", "Name"), "Please Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.State, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Manufacturer)
                            @Html.DropDownListFor(x => x.Manufacturer, new SelectList(Model.ManufacturerList, "Id", "Name"), "Please Select", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Manufacturer, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ModelYear)
                            @Html.TextBoxFor(x => x.ModelYear, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ModelYear, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Length)
                            @Html.TextBoxFor(x => x.Length, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Length, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Width)
                            @Html.TextBoxFor(x => x.Width, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Width, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.OptionsType)
                            @Html.DropDownListFor(x => x.OptionsType, new SelectList(Model.OptionsType, "Key", "Value"), new { id = "ddlOptionType", @class = "form-control select2", multiple = "multiple" })
                        </div>
                        <div class="form-group" id="brickSkirtingFootage" style="display:none">
                            @Html.LabelFor(x => x.BrickSkirtingLinearFootage)
                            @Html.TextBoxFor(x => x.BrickSkirtingLinearFootage, new { @class = "form-control" })
                            <span id="brickErrorMessage" class="text-danger" style="display:none">Please enter Linear footage for Brick Skirting</span>
                        </div>
                        <div class="form-group" id="vinylSkirtingFootage" style="display:none">
                            @Html.LabelFor(x => x.VinylSkirtingLinearFootage)
                            @Html.TextBoxFor(x => x.VinylSkirtingLinearFootage, new { @class = "form-control" })
                            <span id="vinylErrorMessage" class="text-danger" style="display:none">Please enter Linear footage for Vinyl/Other Skirting</span>
                        </div>

                        <div class="form-group" id="areaOfDecksPorches" style="display:none">
                            @Html.LabelFor(x => x.AreaOfDeckPorche)
                            @Html.TextBoxFor(x => x.AreaOfDeckPorche, new { @class = "form-control" })
                            <span id="deckporcheErrorMessage" class="text-danger" style="display:none">Please enter the area of Decks / Porches</span>
                        </div>

                        <div class="form-group" id="divAreaOfAdditions" style="display:none">
                            @Html.LabelFor(x => x.AreaOfAdditions)
                            @Html.TextBoxFor(x => x.AreaOfAdditions, new { @class = "form-control" })
                            <span id="additionsErrorMessage" class="text-danger" style="display:none">Please enter the area of Additions</span>
                        </div>
                        <div class="form-action">
                            <button class="btn btn-default" id="btnApprisal">Calculate</button>
                        </div>


                    </div>
                    <div class="col-md-4">

                        <div class="page-header text-center">
                            <span>Estimated Appraisal Value</span>
                            <h2><span id="txtEstApp">$0.00</span></h2>
                        </div>
                    </div>


                </div>

                <div style="margin-top:10px">&nbsp;</div>

                <div class="col-md-12">
                    @*<div class="panel panel-default">
                            <div class="panel-heading">
                                Additions
                            </div>
                            <div class="panel-body">
                                <div class="col-md-4">Central Air Conditioning</div>
                                <div class="col-md-8">$2800.00</div>
                                <div class="col-md-4">Decks/Porches</div>
                                <div class="col-md-8">$9.00 per square foot</div>
                                <div class="col-md-4">Skirting/Underpinning</div>
                                <div class="col-md-8">Brick: $32 Per Linear Foot, Vinyl/Other: $7 Per Linear Foot</div>
                                <div class="col-md-4">Added Rooms/Additions</div>
                                <div class="col-md-8">$35.00 Per Square Foot</div>
                            </div>

                        </div>*@

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            *Note
                        </div>
                        <div class="panel-body">
                            The above information is intended to present an estimated value only. Additions to the home, conditon of the home, and location of the home may alter the valuation. The Colonial Group, Inc. makes no representation to the actual value of the home above. An accurate valuation could be obtained with an on site appraisal. The Colonial Group, Inc. shall have no liability as a result of any inaccuracies of the information above.
                        </div>
                    </div>

                </div>
            </div>

            @Html.ValidationSummary(true)
        }
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('form').submit(function (evt) {
                evt.preventDefault();
                var $form = $(this);
                if ($form.valid()) {
                    //Ajax call here
                }
            });

            $("#ddlOptionType").select2(
                {
                    placeholder: "Select an Option",
                    allowClear: true
                })
            .on("change", function (e) {
                if ($.inArray("2", e.val.toString().split(",")) != -1)
                    $("#brickSkirtingFootage").show();
                if ($.inArray("3", e.val.toString().split(",")) != -1)
                    $("#vinylSkirtingFootage").show();
                if ($.inArray("4", e.val.toString().split(",")) != -1)
                    $("#areaOfDecksPorches").show();
                if ($.inArray("5", e.val.toString().split(",")) != -1)
                    $("#divAreaOfAdditions").show();


            })
            .on("select2-removed", function (e) {
                if ($.inArray("2", e.val.toString().split(",")) != -1) {
                    $("#brickSkirtingFootage").hide();
                    $("#BrickSkirtingLinearFootage").empty();
                }
                if ($.inArray("3", e.val.toString().split(",")) != -1) {
                    $("#vinylSkirtingFootage").hide();
                    $("#VinylSkirtingLinearFootage").empty();
                }
                if ($.inArray("4", e.val.toString().split(",")) != -1) {
                    $("#areaOfDecksPorches").hide();
                    $("#AreaOfDeckPorche").empty();
                }
                if ($.inArray("5", e.val.toString().split(",")) != -1) {
                    $("#divAreaOfAdditions").hide();
                    $("#AreaOfAdditions").empty();
                }
            });


            $('#dvLoading').hide();
            $("#btnApprisal").click(function (evt) {
                evt.preventDefault();
                var $form = $('form');

                if ($form.valid()) {
                    $('#dvLoading').show();

                    var ajaxOptions = {};
                    ajaxOptions.data = JSON.stringify({
                        StateId: $('#State').val(), ManafacturerId: $('#Manufacturer').val(), Length: $('#Length').val(), width: $('#Width').val(),
                        Year: $('#ModelYear').val(), Options: $('#ddlOptionType').val(),
                        BrickLinearFootage: $("#BrickSkirtingLinearFootage").val(),
                        VinylLinearFootage: $("#VinylSkirtingLinearFootage").val(),
                        AreaOfAdditions: $("#AreaOfAdditions").val(),
                        AreaOfDeckPorche: $("#AreaOfDeckPorche").val()
                    });
                    ajaxOptions.url = "/Appraisal/GetEstimatedValue";
                    ajaxOptions.method = "POST";
                    ajaxOptions.dataType = "JSON";
                    ajaxOptions.contentType = 'application/json';
                    var request = $.ajax(ajaxOptions);

                    request.done(function (result) {
                        $("#txtEstApp").text(result);
                        $('#dvLoading').hide();
                    });

                    request.fail(function (jqXHR, textStatus) {
                        alert("Request failed: " + textStatus);
                    });



                }
            });
        });
    </script>
} 