@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>MobileHome.Insure | Dashboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/Assets/Global/Plugins/select2/css")
    <link href="~/Content/assets/global/css/components.css" rel="stylesheet" />
    <link href="~/Content/assets/global/css/components-rounded.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="~/Content/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="~/Content/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/assets/global/plugins/TableToolsv2.2.4/css/style")
    @Styles.Render("~/Content/dropzonecss")
    <link href="~/Content/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <style type="text/css">
        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
            z-index: 100000000 !important;
        }
    </style>
    @RenderSection("customstyle", required: false)
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-quick-sidebar-over-content page-style-square">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo" style="padding:0">
                <a href="/Admin">
                    <img src="~/content/img/adminlogo.png" alt="logo" class="logo-default" style="margin:0" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="~/Content/assets/admin/layout/img/avatar3_small.jpg" />
                            <span class="username username-hide-on-mobile">
                                Admin
                            </span>
                        </a>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="/login/logout" class="dropdown-toggle">
                            <i class="icon-logout"></i>
                        </a>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                @{Html.RenderPartial("~/Areas/Admin/Views/Shared/_Menu.cshtml");}
            </div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>
        <!-- END CONTENT -->
        <!-- Container for Modal -->

        <div id="modal-container" class="modal fade"  data-backdrop="static" role="dialog">
            <div class="portlet box blue modal-content custom-portlet">
            </div>
        </div>
        <!-- End container for modal -->
        <!-- BEGIN QUICK SIDEBAR -->
        <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
        <!-- END QUICK SIDEBAR -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2015 &copy; MobileHome.Insure
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="~/Content/assets/global/plugins/respond.min.js"></script>
    <script src="~/Content/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Content/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Content/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    @Scripts.Render("~/Content/assets/global/plugins/TableToolsv2.2.4/css/script")
    @*<script src="~/Content/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>*@
    <script src="~/Content/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval");
    <!-- END CORE PLUGINS -->
    <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/assets/global/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Content/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
    <script src="~/Content/assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <script src="~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="~/Scripts/moment.min.js" type="text/javascript"></script>
    @Scripts.Render("~/Content/Assets/Global/Plugins/select2/scripts")
    @Scripts.Render("~/bundles/dropzone")
    <script src="~/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.blockUI.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        //Configuring UI blocker for Ajax operation
        $(document).ajaxStop($.unblockUI);
        function configureBlockUI() {
            $(document).ajaxStart($.blockUI({
                css: {
                    border: 'none',
                    padding: '0px 15px 15px 15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            }));
        }


        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });

            $(".alert").on("show", function () {

                $(".alert").hide(5000);

            });

            $(".select2me").select2();



        });

        $(".delete-link").on("click", function (event) {
            var url = this.href;
            bootbox.confirm("Are you sure?", function (result) {
                if (result)
                    location.href = url;
            });
            return false;
        });


    </script>


    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>